*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-small-img img{
    height: 160px;
    margin: 15px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product-small-img{
    float: left;
}
.Product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
.img-container img{
    height: 510px;

}
.img-container{
    float: right;
    padding: 15px;
}